<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.radiosafa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/images3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".Activites.Setting.SettingsActivityDark"
            android:label="@string/title_activity_settings_dark" />
        <activity
            android:name=".Activites.Setting.SettingsActivityLight"
            android:label="@string/title_activity_settings_light" />
        <activity android:name=".Activites.Main.OnlinePlayerDark" />
        <activity android:name=".Activites.Info.InfoActivity" />
        <activity android:name=".Activites.Main.OnlinePlayerLight" />
        <activity android:name=".Activites.Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>